{
  "name": "${node_pkg}",
  "version": "${version}",
  "description": "Want github-flavoured markdown as a pdf or html for your blog? smd is exactly what you need.",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/flokkq/smd.git"
  },
  "keywords": [
    "smd",
    "git",
    "markdown",
    "gfm",
    "rust"
  ],
  "author": "Clemens Weber <office@flokkq.com>",
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/flokkq/smd/issues"
  },
  "homepage": "https://github.com/flokkq/smd#readme",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ],
  "publishConfig": {
    "access": "public"
  }
}
